.bg-color{
  background-color: aqua;
}
.hed-des nav ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
   
}
.hed-des nav ul li{
  display: inline;
    color: #000000 ;
    font-weight:bold;
    padding: 8px 30px;
    text-decoration: none;

}
#test,
#employee,
#customer,
#prospect{
  color: #000000;
}
 .container-fluid{
  background-color: aqua;
}

.Modal{
  position:fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.navrout{
  list-style-type: none;
}
.navrout nav{
  text-decoration: none;
  display: flex;
  font-size:30px;

}
.navrout nav link{
  text-decoration: none;
  border:3px;
  border-color: cornflowerblue;
}